<%= form_for(@grocery_list_user) do |f| %>
  <% if @grocery_list_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grocery_list_user.errors.count, "error") %> prohibited this grocery_list_user from being saved:</h2>

      <ul>
      <% @grocery_list_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :grocery_list_id %><br>
    <%= f.number_field :grocery_list_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
